{% load house_icon %}
{% load humanize %}

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th style="width: 75px"></th>
            <th>
                Name
            </th>
            <th style="width: 1px">
                Players
            </th>
            <th style="width: 120px"></th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr
                data-toggle="popover"
                data-html="true"
                data-title="<div class='popover-title'>{{ game.name }}</div>"
                data-boundary="window"
                data-content="
                    {% if game.state == "ONGOING" %}
                        <p>
                            Turn: <b>{{ game.view_of_game.turn }}</b>
                        </p>
                        <div class='text-small text-muted'>
                            Last active {{ game.updated_at|naturaltime }}
                        </div>
                    {% endif %}
                    <div><b>Owner: </b>{{ game.owner.username }}</div>
                "
                data-placement="right"
                data-trigger="hover"
            >
                <td class="align-middle text-center">
                    {% if game.state == "IN_LOBBY" %}
                        <span class="badge badge-success">Open</span>
                    {% elif game.state == "ONGOING" %}
                        <span class="badge badge-warning">Ongoing</span>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if game.view_of_game.settings.pbem %}
                        <span class="badge badge-info"
                              data-toggle="tooltip"
                              data-html="true"
                              title="
                                <b>P</b>lay <b>B</b>y <b>E</b>-<b>M</b>ail<br/>
                                Players receive an e-mail when it is their turn.
                                Those games are typically played over days or weeks.
                              "
                        >
                            PBEM
                        </span>
                    {% else %}
                        <span class="badge badge-info" data-toggle="tooltip">
                            Live
                        </span>
                    {% endif %}
                    {% if game.player_in_game %}
                        {% if game.player_in_game.data.waited_for %}
                            <span class="badge badge-danger">
                                {% if game.player_in_game.data.house %}{% house_icon game.player_in_game.data.house %}{% endif %} YOUR TURN
                            </span>
                        {% else %}
                            <span class="badge badge-info">
                                {% if game.player_in_game.data.house %}{% house_icon game.player_in_game.data.house %}{% endif %} Playing
                            </span>
                        {% endif %}
                        {% if game.unseen_private_messages %}
                            <span class="badge badge-danger"
                              data-toggle="tooltip"
                              title="New private messages"
                            >
                                <i class="fas fa-envelope"></i>
                            </span>
                        {% endif %}
                    {% endif %}

                    {{ game.name }}
                </td>
                <td class="align-middle text-center">
                    {{ game.players_count }}{% if game.state == "IN_LOBBY" %}/{{ game.view_of_game.maxPlayerCount }}{% endif %}
                </td>
                <td class="text-right">
                    <a
                        target="_blank"
                        href="/play/{{ game.id }}"
                        class="btn btn-primary btn-sm {% if not user.is_authenticated %}disabled{% endif %}"
                        {% if not user.is_authenticated %}
                            title="You must be logged in to join or observe a game"
                        {% endif %}
                    >
                        {% if not game.player_in_game %}
                            Join
                        {% else %}
                            Rejoin
                        {% endif %}
                    </a>
                    {% if perms.agotboardgame_main.cancel_game %}
                        <form action="/game/{{ game.id }}/cancel" method="POST" class="d-inline" onsubmit="return confirm('Do you really want to cancel this game?');">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-sm">X</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
        <tr>
            <td class="text-center align-middle" style="height: 50px" colspan="4">
                There are no open or ongoing games
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>