.popover-title {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.badge .house-icon {
    margin-top: -3.5px;
    margin-bottom: 2px;
    margin-right: 2px;
    display: inline-block;
    height: 0px;
}

.badge .house-icon img {
    height: 18px;
    width: 18px;
}

@media (min-width: 1650px) {
    .decrease-container-margin {
        margin-left: -20%;
        margin-right: -20%;
    }
}

table.middle-aligned tr td {
    vertical-align: middle;
}

td.fitwidth {
    width: 1px;
    white-space: nowrap;
}