{% extends "./base.html" %}

{% block title %}
Games -
{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-10 mb-4">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th style="width: 75px"></th>
                                <th>
                                    Name
                                </th>
                                <th style="width: 1px">
                                    Players
                                </th>
                                <th style="width: 120px"></th>
                            </tr>
                        </thead>
                        <div>
                            {% for game in games %}
                                <tr>
                                    <td class="align-middle text-center">
                                        {% if game.state == "IN_LOBBY" %}
                                            <span class="badge badge-pill badge-success">Open</span>
                                        {% elif game.state == "ONGOING" %}
                                            <span class="badge badge-pill badge-warning">Ongoing</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if game.is_user_in_game %}
                                            <span class="badge badge-pill badge-info">Playing</span>
                                        {% endif %}

                                        {{ game.name }}
                                    </td>
                                    <td class="align-middle text-center">
                                        {{ game.players.count }}/6
                                    </td>
                                    <td class="text-right">
                                        <a
                                            target="_blank"
                                            href="/play/{{ game.id }}"
                                            class="btn btn-primary btn-sm {% if not user.is_authenticated %}disabled{% endif %}"
                                            {% if not user.is_authenticated %}
                                                title="You must be logged in to join or observe a game"
                                            {% endif %}
                                        >
                                            Join
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                            <tr>
                                <td class="text-center align-middle" style="height: 50px" colspan="4">
                                    There are no open or ongoing games
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            {% if perms.agotboardgame_main.add_game %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <form action="/games/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="game-name-input">Game name</label>
                                    <input id="game-name-input" name="name" class="form-control" required />
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">
                                    Create game
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}