{% extends "./base.html" %}
{% load games_table %}

{% block title %}
Games -
{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        {% if my_games %}
        <div class="col-lg-10 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Your Games</h4>
                    {% games_table my_games user perms %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-10 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Games
                        <span
                            id="westerosi-time"
                            class="float-right badge badge-secondary"
                            data-toggle="tooltip"
                            data-html="true"
                            title="<b>Westerosi time</b> ...<small>basically, UTC</small>"
                        >

                        </span>
                        <script type="text/javascript">
                            let element = document.getElementById("westerosi-time");
                            function update() {
                                let time = new Date();
                                element.innerHTML = time.getUTCHours().toString().padStart(2, "0") + ":" + time.getUTCMinutes().toString().padStart(2, "0");
                            }
                            update();
                            setInterval(update, 1000);
                        </script>
                    </h4>
                    <div style="height: 440px; overflow-y: auto">
                        {% games_table games user perms %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 mb-4">
            <div class="card">
                <div class="card-body">
                    {% include "./components/games_chat.html" %}
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            {% if perms.agotboardgame_main.add_game %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <form action="/games/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="game-name-input">Game name</label>
                                    <input id="game-name-input" name="name" class="form-control" required />
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">
                                    Create game
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}