{% extends "./base.html" %}
{% load games_table %}

{% block title %}
Games -
{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-4">
            <span class="float-left">Last finished game:&nbsp;</span>
            <a target="_blank" href="/play/{{ last_finished_game.id }}" class="float-left">{{ last_finished_game.name }} ({{ last_finished_game.players_count }}/{{ last_finished_game.view_of_game.maxPlayerCount }})</a>
        </div>
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Online Users
                        <span
                            id="westerosi-time"
                            class="float-right badge badge-secondary"
                            data-toggle="tooltip"
                            data-html="true"
                            title="<b>Westerosi time</b> ...<small>basically, UTC</small>"
                        ></span>
                        <script type="text/javascript">
                            let element = document.getElementById("westerosi-time");
                            function update() {
                                let time = new Date();
                                element.innerHTML = time.getUTCHours().toString().padStart(2, "0") + ":" + time.getUTCMinutes().toString().padStart(2, "0");
                            }
                            update();
                            setInterval(update, 1000);
                        </script>
                    </h4>
                    {% for user in request.online_now %}
                    {% if user.is_admin %}
                        <a style="margin-right: 10px; font-size: 1.125rem; color:brown" href="/user/{{ user.id }}" target="_blank" rel="noopener noreferrer">{{ user.username }}</a>
                    {% elif user.is_high_member %}
                        <a style="margin-right: 10px; font-size: 1.125rem; color:darkgoldenrod" href="/user/{{ user.id }}" target="_blank" rel="noopener noreferrer">{{ user.username }}</a>
                    {% else %}
                        <a style="margin-right: 10px; font-size: 1.125rem;" href="/user/{{ user.id }}" target="_blank" rel="noopener noreferrer">{{ user.username }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    {% include "./components/games_chat.html" %}
                </div>
            </div>
        </div>
        {% if open_live_games %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Open Live Games</h4>
                    {% games_table open_live_games user perms %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a href="/my_games">Your Games</a></h4>
                    {% games_table my_games user perms %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        All Games
                    </h4>
                    <div style="max-height: 400px; overflow-y: auto">
                        {% games_table active_games user perms %}
                    </div>
                </div>
            </div>
        </div>
        {% if perms.agotboardgame_main.add_game %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <form action="/games/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="game-name-input">Game name</label>
                                    <input id="game-name-input" name="name" class="form-control" maxlength="200" required />
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">
                                    Create game
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.agotboardgame_main.can_play_as_another_player and inactive_games %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Games where last move was more than 5 days ago</h4>
                    <div style="max-height: 300px; overflow-y: auto">
                        {% games_table inactive_games user perms True %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if replacement_needed_games %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"
                        data-toggle="tooltip"
                        title="These are games where the last move was more than 2 days ago and the player being waited on has not logged in for 8 days."
                    >
                        Games waiting for inactive players
                    </h4>
                    <div style="max-height: 300px; overflow-y: auto">
                        {% games_table replacement_needed_games user perms True %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.agotboardgame_main.cancel_game and inactive_private_games %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Inactive Private Games
                    </h4>
                    <div style="max-height: 300px; overflow-y: auto">
                        {% games_table inactive_private_games user perms %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}