{% extends "./base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-sm-12 col-md-9 mb-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Welcome to this beta-test!</h3>
                <p>
                    At the moment, the focus is to finish implementing the base game and polish the existing features.
                </p>
                <p>
                    The final goal is to implement all the release gameplay of the extensions (Feast for Crows, Dance
                    with Dragons and Mother of Dragons), and add meta-game features (abuse reports, ranked games, ...).
                </p>
                <a>
                    Bugs and suggestions of features can be posted
                    on <a href="https://github.com/Longwelwind/swords-and-ravens">the Github of the project</a>.
                </p>
                <p>
                    Feedbacks and other remarks can also be posted on
                    the <a href="https://discord.gg/wWgCdvM">Discord</a>!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}