{% extends "./base.html" %}

{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-sm-12 col-lg-10">
        <div class="row justify-content-between">
            <div class="col col-auto">
                <div class="card mb-4">
                    <div class="card-body d-flex align-items-center">
                        <span class="mr-2">Join us on</span>
                        <a href="https://discord.gg/wWgCdvM" target="_blank" class="d-flex align-items-center">
                            <h4 class="fab fa-discord m-0"></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="card mb-4">
                    <div class="card-body">
                        <b>{{ active_games_count }}</b> active games
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-12 col-lg-10">
        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    {% if post.title != "ingame-screenshot" %}
                        <h3 class="card-title">{{ post.title }}</h3>
                        <h6 class="card-subtitle mb-3 text-muted">{{ post.created_at | date:"d F Y" }}</h6>
                        {{ post.content | safe }}
                    {% else %}
                        <img class="w-100" src="{% static 'ingame-screenshot.png' %}">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}