{% extends "./base.html" %}
{% load games_table %}

{% block title %}
Your Games -
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-4">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <span>Last finished game:&nbsp;</span>
                    <a target="_blank" href="/play/{{ last_finished_game.id }}">{{ last_finished_game.name }} ({{ last_finished_game.players_count }}/{{ last_finished_game.view_of_game.maxPlayerCount }})</a>
                </div>
                <div class="col-auto">
                    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support S&R on Ko-fi', '#29abe0', 'Z8Z1CIRKH');kofiwidget2.draw();</script>
                </div>
            </div>
        </div>
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Online Users<small class="ml-2">({{ request.online_now | length }})</small>
                        <span
                            id="westerosi-time"
                            class="float-right badge badge-secondary"
                            data-toggle="tooltip"
                            data-html="true"
                            title="<b>Westerosi time</b> ...<small>basically, UTC</small>"
                        ></span>
                        <script type="text/javascript">
                            let element = document.getElementById("westerosi-time");
                            function update() {
                                let time = new Date();
                                element.innerHTML = time.getUTCHours().toString().padStart(2, "0") + ":" + time.getUTCMinutes().toString().padStart(2, "0");
                            }
                            update();
                            setInterval(update, 1000);
                        </script>
                    </h4>
                    {% for user in request.online_now %}
                    {% if user.is_admin %}
                        <a style="margin-right: 10px; font-size: 1.125rem; color:brown; white-space: nowrap; display: inline-block;" href="/user/{{ user.id }}" target="_blank" rel="noopener noreferrer">
                            <span>{{ user.username }}</span>
                            {% if user.last_won_tournament %}
                                <span style="color: goldenrod; display: inline-block;"
                                    data-toggle="tooltip"
                                    data-html="true"
                                    title="Winner of </br><b>{{ user.last_won_tournament }}</b>"
                                >
                                    <i class="fas fa-trophy"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% elif user.is_high_member %}
                        <a style="margin-right: 10px; font-size: 1.125rem; color:darkgoldenrod; white-space: nowrap; display: inline-block;" href="/user/{{ user.id }}" target="_blank" rel="noopener noreferrer">
                            <span>{{ user.username }}</span>
                            {% if user.last_won_tournament %}
                                <span style="color: goldenrod; display: inline-block;"
                                    data-toggle="tooltip"
                                    data-html="true"
                                    title="Winner of </br><b>{{ user.last_won_tournament }}</b>"
                                >
                                    <i class="fas fa-trophy"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% else %}
                        <a style="margin-right: 10px; font-size: 1.125rem; white-space: nowrap; display: inline-block;" href="/user/{{ user.id }}" target="_blank" rel="noopener noreferrer">
                            <span>{{ user.username }}</span>
                            {% if user.last_won_tournament %}
                                <span style="color: goldenrod; display: inline-block;"
                                    data-toggle="tooltip"
                                    data-html="true"
                                    title="Winner of </br><b>{{ user.last_won_tournament }}</b>"
                                >
                                    <i class="fas fa-trophy"></i>
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    {% include "./components/games_chat.html" %}
                </div>
            </div>
        </div>
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <div class="row justify-content-between">
                            <div class="col">
                                Your Games<small class="ml-2">({{ my_games|length }})</small>
                            </div>
                            {% if perms.agotboardgame_main.add_game %}
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapsed_cg_for_your_games"
                                >
                                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </h4>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 collapse" id="collapsed_cg_for_your_games">
                            <form action="/games/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="game-name-input">Game name</label>
                                    <input id="game-name-input" name="name" class="form-control" maxlength="200" required {% if not perms.agotboardgame_main.add_game %}disabled{% endif %}/>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary" {% if not perms.agotboardgame_main.add_game %}disabled{% endif %}>
                                    Create game
                                </button>
                            </form>
                        </div>
                    </div>{% games_table my_games user perms %}
                </div>
            </div>
        </div>
        {% if open_live_games %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Open Live Games</h4>
                    {% games_table open_live_games user perms %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if running_live_games %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Running Live Games</h4>
                    {% games_table running_live_games user perms %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if my_created_games %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <div class="row justify-content-between">
                            <div class="col">
                                Your Created Games<small class="ml-2">({{ my_created_games|length }})</small>
                            </div>
                            {% if perms.agotboardgame_main.add_game %}
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapsed_cg_for_created_games"
                                >
                                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </h4>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 collapse" id="collapsed_cg_for_created_games">
                            <form action="/games/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="game-name-input">Game name</label>
                                    <input id="game-name-input" name="name" class="form-control" maxlength="200" required {% if not perms.agotboardgame_main.add_game %}disabled{% endif %}/>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary" {% if not perms.agotboardgame_main.add_game %}disabled{% endif %}>
                                    Create game
                                </button>
                            </form>
                        </div>
                    </div>
                    {% games_table my_created_games user perms %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-11 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">
                        <div class="row justify-content-between">
                            <div class="col">
                                <a href="/games">All Games</a>
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}