{% extends "./base.html" %}

{% block title %}
Register
{% endblock %}


{% block content %}
<div style="max-width: 360px; margin: 0 auto;margin-top: 80px">
    <h3>Register</h3>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-social btn-google btn-block">
        <span class="fab fa-google"></span> Register with Google
    </a>
    <a href="{% url 'social:begin' 'discord' %}?next=/"
       class="btn btn-social btn-block"
       style="background-color: #7289DA; border-color: rgba(0,0,0,.2)"
    >
        <span class="fab fa-discord"></span> Register with Discord
    </a>
</div>
{% endblock %}
