{% extends "./base.html" %}

{% block title %}
Register -
{% endblock %}


{% block content %}
<div class="text-center">
    Use of this portal and chat feature requires JavaScript to be enabled in your browser.<br/>
    Please make sure that JavaScript is turned on and that none of your browser extensions block scripts or links<br/>
    to allow redirection to the available social auth providers.
    <!-- In case you are unsure, the source code is published on GitHub. So you can assure yourself that there are no ads or malicious scripts placed here. -->
</div>
<div style="max-width: 575px; margin: 0 auto;margin-top: 80px">
    <h3 class="text-center mb-3">Register</h3>
    <div class="alert alert-warning text-center mb-5" role="alert">
        By registering, you agree that you own a licensed version of the board game!
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next|urlencode }}" class="btn btn-social btn-google btn-block text-center" style="max-width: 210px; min-width: 210px">
                <span class="fab fa-google"></span> Register with Google
            </a>
        </div>
        <div class="col-12"></div>
        <div class="col-auto mt-2">
            <a href="{% url 'social:begin' 'discord' %}?next={{ next|urlencode }}"
            class="btn btn-social btn-block text-center"
            style="background-color: #7289DA; border-color: rgba(0,0,0,.2); max-width: 210px; min-width: 210px"
            >
                <span class="fab fa-discord"></span> Register with Discord
            </a>
        </div>
    </div>
    <div class="alert alert-info mt-5" role="alert">
        <b>Note:</b> Email notifications about PBEM games can end up in your SPAM folder!
        <br/>So please pay attention to your SPAM folder after joining your first PBEM games.
    </div>
</div>
{% endblock %}
