{% extends "./base.html" %}

{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-sm-12 col-lg-10">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Swords and Ravens Game Rules</h3>
                <p>
                    To ensure a fair, respectful, and enjoyable experience for all players, please adhere to the following community guidelines. 
                    By using this platform, you automatically accept and agree to these rules.
                </p>
                
                <h5 class="mt-5">1) Be kind and respectful to other players</h5>
                <p>
                    Foul language, harassment, and other toxic behavior will not be tolerated. If you experience players breaking the rules 
                    (such as flaming), please do not respond in kind. Instead, report them to the staff team.
                </p>

                <h5 class="mt-5">2) English is the default language in game chat</h5>
                <p>
                    On a general basis, English is the only language allowed in game chat. If you wish to host a game in another language, 
                    you must clearly state the language in the game title when creating it. For example: <i>"6 player live game [GERMAN]"</i>.
                </p>

                <h5 class="mt-5">3) Make sure you have enough time to play</h5>
                <p>
                    Playing A Game of Thrones live with 6 players can often take more than 3 hours. If you are unsure whether you have enough 
                    time to play a full live game, make sure to communicate this in the lobby. Let the other players decide if it is acceptable. 
                    For example, if everyone agrees to either switch to play-by-email mode after 2 hours, or when you need to leave, then that 
                    is acceptable.
                </p>

                <h5 class="mt-5">4) Make your moves as quickly as possible</h5>
                <p>
                    A Game of Thrones is a long game, and it is in everyone's interest to finish in a reasonable time. By making your moves 
                    slowly, you may find yourself restricted from joining certain games where the host has set a speed filter above your average speed.
                </p>
                <p>
                    <b>Note:</b> After 5 days of inactivity in a game, our moderators may step in to make moves on behalf of inactive players 
                    to keep the game progressing for the remaining active participants.
                </p>

                <h5 class="mt-5">5) Finish all your games and play to the best of your ability</h5>
                <p>
                    This is one of the most important rules for online gaming. Even if you are losing, be respectful toward other players and 
                    finish your game as well as you can. It is what you would have wanted if you were winning! Finish with grace.
                </p>
                <p>
                    <b>Special consideration for LIVE games:</b> In live games only, if your position becomes clearly hopeless and continuing 
                    would require you to wait extended periods without meaningful participation, you may ask the other players for vassalization. 
                    We do not want to force players to remain in front of their computers in situations where the game is effectively over for them. 
                    However, this is <b>not</b> acceptable in play-by-email (PBEM) games, where you can make your moves with your remaining resources 
                    when it's your turn without the burden of continuous waiting.
                </p>

                <h5 class="mt-5">6) Zero tolerance for multiple accounts</h5>
                <p>
                    There is a zero-tolerance policy toward players having multiple accounts. If you suspect anyone of multi-accounting, 
                    report them immediately. Abusing this rule will result in all accounts involved being permanently banned.
                </p>

                <h5 class="mt-5">7) Kingmaking is part of the game</h5>
                <p>
                    With full conviction, there are no kingmaking rules. We believe that a player should be able to make almost any move 
                    that the game itself allows. Likewise, no one should have the right to force another player to make a certain move, 
                    for example to prevent a third player from winning. Anticipate that an opponent may be out for revenge and consider 
                    kingmaking as a possible consequence of your actions. Adjust your play accordingly, rather than relying on a non-existent 
                    rule to constrain your opponents.
                </p>
                <p>
                    Furthermore, the introduction of the Mother of Dragons expansion has clearly shown that kingmaking is a necessary diplomatic 
                    factor for House Targaryen, for example, to threaten the eastern houses in Westeros to help a western house win if they do 
                    not cease their aggression.
                </p>
                <p>
                    Check out this interesting discussion on the topic: 
                    <a href="https://www.youtube.com/watch?v=UraJElx1ebg" target="_blank" rel="noopener noreferrer">"King Me": A Defense of King-Making in Board Game Design</a>
                </p>

                <h5 class="mt-5">8) Alliances may only be formed during the game</h5>
                <p>
                    Permanent prearranged alliances can essentially be considered multi-accounting and spoil the fun for everyone. 
                    They are unethical and therefore not allowed. Diplomatic agreements should emerge naturally from the game situation, 
                    not from external arrangements.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
