{% extends "./base.html" %}

{% block title %}
{{ viewed_user.username }} -
{% endblock %}

{% load humanize %}

{% block content %}
<h3 class="mb-4">{% if group_name %}<span class="badge badge badge-{{ group_color }}">{{ group_name }}</span>{% endif %} {{ viewed_user.username }}</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td style="width: 150px">
                            <b>Last activity:</b>
                        </td>
                        <td>
                            {{ viewed_user.last_activity|naturaltime}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Finished games:</b>
                        </td>
                        <td>
                            {{ viewed_user.finished_count }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Won games:</b>
                        </td>
                        <td>
                            {{ viewed_user.won_count }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Win rate:</b>
                        </td>
                        <td>
                            {{ viewed_user.win_rate }} %
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Games</h4>
                <table class="table table-hover table-sm">
                    {% for player in viewed_user.games_of_user %}
                        <tr>
                            <td class="align-middle text-center" style="width: 75px">
                                {% if player.game.state == "IN_LOBBY" %}
                                    <span class="badge badge-pill badge-success">Open</span>
                                {% elif player.game.state == "ONGOING" %}
                                    <span class="badge badge-pill badge-warning">Ongoing</span>
                                {% elif player.game.state == "CANCELLED" %}
                                    <span class="badge badge-pill badge-danger">Cancelled</span>
                                {% elif player.data.is_winner %}
                                    <i class="fas fa-crown"></i>
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {{ player.game.name }}
                            </td>
                            <td class="align-middle" style="width: 1px">
                                <a class="btn btn-primary btn-sm"
                                   href="/play/{{ player.game.id }}"
                                   target="_blank"
                                >
                                    Join
                                </a>
                            </td>
                            {% if perms.agotboardgame_main.can_play_as_another_player %}
                                <td class="align-middle" style="width: 1px">
                                    <a class="btn btn-primary btn-sm"
                                       href="/play/{{ player.game.id }}/{{ viewed_user.id }}"
                                       target="_blank"
                                    >
                                        Join as
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No games</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
