$grid-gutter-width: 1rem;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1920px,
        xxl: 2400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1900px,
        xxl: 2380px
);

@import './theme/_variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

:root{
  scrollbar-color: #28282a #7c7c7d !important;
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #28282a;
}

::-webkit-scrollbar-thumb {
  background: #7c7c7d;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

strong
{
  font-weight: bold;
}

.row {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.col, .col-auto, .col-12 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.stackable {
  margin-bottom: $grid-gutter-width / 2;
}

.map .order-container {
  position: absolute;
  margin: auto;
  // This allows the order to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
}

.map .order-border {
  border-radius: 50%;
  border: 3px solid;
}

.map .units-container {
  position: absolute;
  display: flex;
  justify-content: center;
  // This allows the units to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
}

.map .castle-modification {
  width: 69px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // This allows the garrison to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
  position: absolute;
}

.map .power-token {
   position: absolute;
   width: 23px;
   height: 32px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
  // This allows the power token to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
}

.map .loyalty-token {
  position: absolute;
  width: 30px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 // This allows the loyalty token to be center on the position-absolute reference points
 transform: translate(-50%, -50%);
 opacity: 0.8;
}

.house-power-token {
  width: 25px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tooltip-power-token {
  width: 23px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.order-icon {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: none;
}

.iron-bank-content {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: none;
}

.garrison-icon {
  width: 28px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loyalty-icon {
  width: 32px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.unit-icon {
  position: relative;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.unit-icon.small {
  width: 16px;
  height: 16px;
}

.unit-icon.smedium {
  width: 24px;
  height: 24px;
}

.unit-icon.medium {
  width: 28px;
  height: 28px;
}

.house-card-icon {
  width: 30px;
  height: 47px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.house-card-full {
  width: 280px;
  height: 439px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 6px;
}

.wildling-card-full {
  width: 240px;
  height: 376px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 6px;
}

.game-card {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

$game-card-width: 270px;
$game-card-height: 1.57 * $game-card-width;
$fairly-scale: 0.7;
$medium-scale: 0.5;
$smedium-scale: 0.35;
$small-scale: 0.2;
$tiny-scale: 0.12;

.vertical-game-card {
  @extend .game-card;

  width: $game-card-width;
  height: $game-card-height;
}

.vertical-game-card.fairly {
  width: $game-card-width * $fairly-scale;
  height: $game-card-height * $fairly-scale;
}

.vertical-game-card.medium {
  width: $game-card-width * $medium-scale;
  height: $game-card-height * $medium-scale;
}

.vertical-game-card.smedium {
  width: $game-card-width * $smedium-scale;
  height: $game-card-height * $smedium-scale;
}

.vertical-game-card.small {
  width: $game-card-width * $small-scale;
  height: $game-card-height * $small-scale;
}

.vertical-game-card.tiny {
  width: $game-card-width * $tiny-scale;
  height: $game-card-height * $tiny-scale;
}

.horizontal-game-card {
  @extend .game-card;

  width: $game-card-height;
  height: $game-card-width;
}

.horizontal-game-card.medium {
  width: $game-card-height * $medium-scale;
  height: $game-card-width * $medium-scale;
}

.horizontal-game-card.small {
  width: $game-card-height * $small-scale;
  height: $game-card-width * $small-scale;
}

.horizontal-game-card.tiny {
  width: $game-card-height * $tiny-scale;
  height: $game-card-width * $tiny-scale;
}

.game-card-slot {
  border: 1px dashed gray;
}

.influence-icon {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.supply-icon {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tracker-star-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  bottom: -3px;
  left: auto;
  right: auto;
}

.resolve-ties-tracker-star-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  left: auto;
  right: auto;
  top: 35px;
}

.tracker-star-container > * {
  margin: 0 1px;
}

$outline-color: white;
$medium-outline: rgba($outline-color, 0.6);

.weak-box-outline {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px $medium-outline, -2px -2px 2px $medium-outline, 2px -2px 2px $medium-outline, -2px 2px 2px $medium-outline;
  -moz-box-shadow: 2px 2px 2px $medium-outline, -2px -2px 2px $medium-outline, 2px -2px 2px $medium-outline, -2px 2px 2px $medium-outline;
  -webkit-box-shadow: 2px 2px 2px $medium-outline, -2px -2px 2px $medium-outline, 2px -2px 2px $medium-outline, -2px 2px 2px $medium-outline;
  -o-box-shadow: 2px 2px 2px $medium-outline, -2px -2px 2px $medium-outline, 2px -2px 2px $medium-outline, -2px 2px 2px $medium-outline;
}

.weak-text-outline {
  filter: drop-shadow(1px 1px 2px $medium-outline) drop-shadow(-1px -1px 2px $medium-outline);
}

.hover-weak-text-outline:hover {
  filter: drop-shadow(1px 1px 2px $medium-outline) drop-shadow(-1px -1px 2px $medium-outline);
  transition: all 0.12s linear;
}

.weak-outline {
  filter: drop-shadow(1px 1px 2px $medium-outline) drop-shadow(-1px -1px 2px $medium-outline) drop-shadow(1px -1px 2px $medium-outline) drop-shadow(-1px 1px 2px $medium-outline);
}

.hover-weak-outline:hover {
  filter: drop-shadow(1px 1px 2px $medium-outline) drop-shadow(-1px -1px 2px $medium-outline) drop-shadow(1px -1px 2px $medium-outline) drop-shadow(-1px 1px 2px $medium-outline);
  transition: all 0.12s linear;
}

.smedium-outline {
	filter: drop-shadow(3px 3px 3px $medium-outline) drop-shadow(-3px -3px 3px $medium-outline) drop-shadow(3px -3px 3px $medium-outline) drop-shadow(-3px 3px 3px $medium-outline);
}

.hover-smedium-outline:hover {
	filter: drop-shadow(3px 3px 3px $medium-outline) drop-shadow(-3px -3px 3px $medium-outline) drop-shadow(3px -3px 3px $medium-outline) drop-shadow(-3px 3px 3px $medium-outline);
  transition: all 0.12s linear;
}

.medium-outline {
	filter: drop-shadow(3px 3px 3px $outline-color) drop-shadow(-3px -3px 3px $outline-color) drop-shadow(3px -3px 3px $outline-color) drop-shadow(-3px 3px 3px $outline-color);
}

.hover-medium-outline:hover {
  filter: drop-shadow(3px 3px 3px $outline-color) drop-shadow(-3px -3px 3px $outline-color) drop-shadow(4px -4px 4px $outline-color) drop-shadow(-3px 3px 3px $outline-color);
  transition: all 0.12s linear;
}

.strong-outline {
  filter: drop-shadow(5px 5px 6px $outline-color) drop-shadow(-5px -5px 6px $outline-color) drop-shadow(5px -5px 6px $outline-color) drop-shadow(-5px 5px 6px $outline-color);
}

.hover-strong-outline:hover {
  filter: drop-shadow(5px 5px 6px $outline-color) drop-shadow(-5px -5px 6px $outline-color) drop-shadow(5px -5px 6px $outline-color) drop-shadow(-5px 5px 6px $outline-color);
  transition: all 0.12s linear;
}

.highlight-red {
  filter: drop-shadow(3px 3px 3px red) drop-shadow(-3px -3px 3px red) drop-shadow(3px -3px 3px red) drop-shadow(-3px 3px 3px red);
}

.hover-strong-outline-red:hover {
  filter: drop-shadow(5px 5px 6px red) drop-shadow(-5px -5px 6px red) drop-shadow(5px -5px 6px red) drop-shadow(-5px 5px 6px red);
  transition: all 0.12s linear;
}

.highlight-yellow {
  filter: drop-shadow(3px 3px 3px yellow) drop-shadow(-3px -3px 3px yellow) drop-shadow(3px -3px 3px yellow) drop-shadow(-3px 3px 3px yellow);
}

.hover-strong-outline-yellow:hover {
  filter: drop-shadow(5px 5px 6px yellow) drop-shadow(-5px -5px 6px yellow) drop-shadow(5px -5px 6px yellow) drop-shadow(-5px 5px 6px yellow);
  transition: all 0.12s linear;
}

.highlight-green {
  filter: drop-shadow(3px 3px 3px green) drop-shadow(-3px -3px 3px green) drop-shadow(3px -3px 3px green) drop-shadow(-3px 3px 3px green);
}

.hover-strong-outline-green:hover {
  filter: drop-shadow(5px 5px 6px green) drop-shadow(-5px -5px 6px green) drop-shadow(5px -5px 6px green) drop-shadow(-5px 5px 6px green);
  transition: all 0.12s linear;
}

$wildling-outline: rgba(yellow, 0.5);
.wildling-highlight {
  filter: drop-shadow(2px 2px 2px $wildling-outline) drop-shadow(-2px -2px 2px $wildling-outline) drop-shadow(2px -2px 2px $wildling-outline) drop-shadow(-2px 2px 2px $wildling-outline);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable-no-underline {
  cursor: pointer;
}

.link-color {
  color: #00bc8c;
}

.link-color:hover {
  color: #007053;
}

.region-area {
  opacity: 0;
  transition: all 0.12s linear;
}

.region-area-fogged {
  opacity: .6;
}

.region-area-no-hover {
  opacity: 0;
  transition: all 0.12s linear;
}

.region-area:hover {
  opacity: 0.2;
}

.blocked-region {
  opacity: 0.5;
}

.highlighted-region-area {
  opacity: 0.4;
}

.highlighted-region-area:hover {
  opacity: 0.6;
}

.highlighted-region-area-strong {
  opacity: 0.7 !important;
}

.highlighted-region-area-light {
  opacity: 0.4 !important;
}

@keyframes background_fade {
  from {
    background-color: rgba(white, 0.3);
  }
  to {
    background-color: rgba(white, 0);
  }
}

.game-log-entry {
  animation: 1s ease-out 3s infinite normal both running background_fade;
}

.game-log-content, .game-log-content p, .game-log-content ul {
  margin-bottom: 0.5em;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.1rem 0.25rem;
}

hr {
  border-color: white;
}

.nav-link.active {
  background-color: $dark !important;
}

.nav-link {
  padding: 0.5rem 0.5rem !important;
}

div.new-event {
  border: solid;
  border-color: #F39C12;
  border-radius: 5px;
  border-width: 3px;
}

div.disconnected {
  border: solid;
  border-color: red !important;
  border-radius: 5px;
  border-width: 3px;
}

.tooltip-inner {
  text-align: left;
  font-size: 1.125rem;
  padding: 0.5rem;
  max-width: 400px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.tooltip-w-100 > .tooltip-inner {
  max-width: 100% !important;
}

.display-none {
  display: none;
}

.restricted-order {
  opacity: 0.6;
}

.unavailable-order {
  opacity: 0.1;
}

/*
 https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css
 https://codepen.io/sosuke/pen/Pjoqqp

 First we make the image black with "brightness(0) saturate(100%)"
 and then we apply the specified filters to get the color F39C12 (orange) for warning and FF0000 (red) for critical
*/
.dye-warning {
  filter: brightness(0) saturate(100%) invert(58%) sepia(96%) saturate(565%) hue-rotate(353deg) brightness(98%) contrast(94%);
}

.dye-warning:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(96%) saturate(565%) hue-rotate(353deg) brightness(98%) contrast(94%);
}

.dye-warning-highlight {
  filter: brightness(0) saturate(100%) invert(58%) sepia(96%) saturate(565%) hue-rotate(353deg) brightness(98%) contrast(94%) drop-shadow(2px 2px 4px $wildling-outline) drop-shadow(-2px -2px 4px $wildling-outline);
}

.dye-warning-highlight:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(96%) saturate(565%) hue-rotate(353deg) brightness(98%) contrast(94%) drop-shadow(2px 2px 4px $wildling-outline) drop-shadow(-2px -2px 4px $wildling-outline);
}

.dye-critical {
  filter: brightness(0) saturate(100%) invert(11%) sepia(82%) saturate(7445%) hue-rotate(4deg) brightness(109%) contrast(114%);
}

.dye-critical:hover {
  filter: brightness(0) saturate(100%) invert(11%) sepia(82%) saturate(7445%) hue-rotate(4deg) brightness(109%) contrast(114%);
}

.dye-critical-highlight {
  filter: brightness(0) saturate(100%) invert(11%) sepia(82%) saturate(7445%) hue-rotate(4deg) brightness(109%) contrast(114%) drop-shadow(2px 2px 3px $wildling-outline) drop-shadow(-2px -2px 3px $wildling-outline);
}

.dye-critical-highlight:hover {
  filter: brightness(0) saturate(100%) invert(11%) sepia(82%) saturate(7445%) hue-rotate(4deg) brightness(109%) contrast(114%) drop-shadow(2px 2px 3px $wildling-outline) drop-shadow(-2px -2px 3px $wildling-outline);
}

.txt-warning {
  color: #F39C12;
}

.txt-critical {
  color: #FF0000;
}

.unavailable-monotone {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}

.unavailable-monotone:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.tooltip.show {
  opacity: 1;
}

.no-space-around {
  padding: 0 !important;
  margin: 0 !important;
}

.no-gutters, .no-gutters .col, .no-gutters .col-auto, .no-gutters .col-12, .no-gutters .nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.userlabel {
  color: white;
}

.userlabel:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.white-space-pre-line {
  white-space: pre-line;
}

.make-black {
  filter: brightness(0%);
}

.bring-to-front {
  z-index: 9999 !important;
}

ul {
  list-style-type: none;
  padding-left: 25px;
}

.scrollable-popover {
  max-height: 99vh;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.scrollable-tooltip > .tooltip-inner {
  max-height: 99vh;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}

hr.red {
  border-top: 2px solid red;
}

.disable-pointer-events {
  pointer-events: none;
}

.flex-ratio-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-sized-to-content {
  flex: 0 0 auto;
  overflow-y: auto;
}

.flex-fill-remaining {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden !important;
}

.flex-footer {
  flex: 0 1 60px;
}

.center-relative-to-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-hidden {
  visibility: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animate__animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

:root {
  --toastify-z-index: 9998;
  --toastify-color-progress-dark: #F39C12;
  --toastify-color-progress-light: #F39C12;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.slide-out-elliptic-top-bck {
	-webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
	        animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-elliptic-top-bck
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-5 7:50:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-5 7:53:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-5 8:16:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.pulsate-bck {
	-webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
	        animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.pulsate-bck_fade-in {
	-webkit-animation: fade-in 4.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, pulsate-bck 0.5s ease-in-out infinite both;
	        animation: fade-in 4.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, pulsate-bck 0.5s ease-in-out infinite both;
}

.pulsate-bck_fade-out {
  -webkit-animation: fade-out 4.5s ease-out both, pulsate-bck 0.5s ease-in-out infinite both;
	        animation: fade-out 4.5s ease-out both, pulsate-bck 0.5s ease-in-out infinite both;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none !important;
}

.make-emojis-large {
  font-size: 2rem;
}

.text-large {
  font-size: 1.125rem;
}

.text-larger {
  font-size: 1.05rem;
}

.text-normal {
  font-size: 1rem;
}


.flip-vertical-right {
	-webkit-animation: flip-vertical-right 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-5 17:55:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
 @-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.loader {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 4px;
  right: -10px;
  box-sizing: border-box;
  border-radius: 50%;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 10px 0, 20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 10px 0, 20px 0;
  }
}

select {
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.d-inline {
  display: inline;
}

.circle-border {
  border-radius: 50%;
  border: 2px solid;
}

.btn-sm {
  border-radius: 0.5rem;
}

.btn-secondary:hover {
  color: #fff !important;
  background-color: #999;
  border-color: #999;
}

.might-overflow {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.ingame-userlabel {
  float: left;
  max-width: 210px;
}

.enabled {
  color: white !important;
  pointer-events: auto !important;
  cursor: default !important;
}

.own-message {
  background-color: #242735;
  border-radius: 10px;
}

.foreign-message {
  background-color: #1c1c1c;
  border-radius: 10px;
}

.float-right {
  float: right;
}