$grid-gutter-width: 1rem;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1565px,
);

@import './theme/_variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

strong
{
  font-weight: bold;
}

.row {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.col, .col-auto, .col-12 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.no-gutters {
  margin-top: 0;
  margin-bottom: 0;
}

.no-gutters .col, .no-gutters .col-auto {
  padding-top: 0;
  padding-bottom: 0;
}

.stackable {
  margin-bottom: $grid-gutter-width / 2;
}


.map .region-label {
  font-size: 12px;
  max-width: 90px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

.map .order-container {
  position: absolute;
  margin: auto;
  // This allows the order to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
}

.map .units-container {
  position: absolute;
  display: flex;
  justify-content: center;
  // This allows the units to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
}

.map .garrison-token {
  width: 69px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // This allows the garrison to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
  position: absolute;
}

.map .power-token {
   position: absolute;
   width: 29px;
   height: 40px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
  // This allows the power token to be center on the position-absolute reference points
  transform: translate(-50%, -50%);
}

.house-power-token {
  width: 25px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.order-icon {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: none;
}

.unit-icon {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.unit-icon.small {
  width: 16px;
  height: 16px;
}

.house-card-icon {
  width: 30px;
  height: 47px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.house-card-full {
  width: 280px;
  height: 439px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 6px;
}

.wildling-card-full {
  width: 240px;
  height: 376px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 6px;
}

.game-card {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

$game-card-width: 270px;
$game-card-height: 1.57 * $game-card-width;
$medium-scale: 0.5;
$small-scale: 0.2;
$tiny-scale: 0.12;

.vertical-game-card {
  @extend .game-card;

  width: $game-card-width;
  height: $game-card-height;
}

.vertical-game-card.medium {
  width: $game-card-width * $medium-scale;
  height: $game-card-height * $medium-scale;
}

.vertical-game-card.small {
  width: $game-card-width * $small-scale;
  height: $game-card-height * $small-scale;
}

.vertical-game-card.tiny {
  width: $game-card-width * $tiny-scale;
  height: $game-card-height * $tiny-scale;
}

.horizontal-game-card {
  @extend .game-card;

  width: $game-card-height;
  height: $game-card-width;
}

.horizontal-game-card.medium {
  width: $game-card-height * $medium-scale;
  height: $game-card-width * $medium-scale;
}

.horizontal-game-card.small {
  width: $game-card-height * $small-scale;
  height: $game-card-width * $small-scale;
}

.horizontal-game-card.tiny {
  width: $game-card-height * $tiny-scale;
  height: $game-card-width * $tiny-scale;
}

.game-card-slot {
  border: 1px dashed gray;
}

.influence-icon {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.supply-icon {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tracker-star-container {
  position: absolute;
  // This width is a hack to make sure the elements don't wrap
  width: 1000px;
  display: flex;
  bottom: -3px;
  left: auto;
  right: auto;
}

.tracker-star-container > * {
  margin: 0 1px;
}

$outline-color: white;
$weak-outline: rgba($outline-color, 0.2);
$medium-outline: rgba($outline-color, 0.8);
$strong-outline: rgba($outline-color, 1);

.weak-outline {
  filter: drop-shadow(1px 1px 3px $weak-outline) drop-shadow(-1px -1px 3px $weak-outline);
}

.hover-weak-outline:hover {
  filter: drop-shadow(1px 1px 3px $weak-outline) drop-shadow(-1px -1px 3px $weak-outline);
  transition: all 0.12s linear;
}

.medium-outline {
	filter: drop-shadow(6px 6px 6px $medium-outline) drop-shadow(-6px -6px 6px $medium-outline);
  }

.hover-medium-outline:hover {
filter: drop-shadow(6px 6px 6px $medium-outline) drop-shadow(-6px -6px 6px $medium-outline);
transition: all 0.12s linear;
}

.strong-outline {
filter: drop-shadow(6px 6px 6px $strong-outline) drop-shadow(-6px -6px 6px $strong-outline);
}

.hover-strong-outline:hover {
filter: drop-shadow(6px 6px 6px $strong-outline) drop-shadow(-6px -6px 6px $strong-outline);
transition: all 0.12s linear;
}

$attacking-army-outline: rgba(red, 1.0);
.attacking-army-highlight {
  filter: drop-shadow(4px 4px 4px $attacking-army-outline) drop-shadow(-4px -4px 4px $attacking-army-outline);
}

.attacking-army-highlight:hover {
  filter: drop-shadow(4px 4px 4px $attacking-army-outline) drop-shadow(-4px -4px 4px $attacking-army-outline);
}

$wildling-outline: rgba(#f8ff00, 0.5);
.wildling-highlight {
  filter: drop-shadow(1px 1px 3px $wildling-outline) drop-shadow(-1px -1px 3px $wildling-outline);
}

.clickable {
  cursor: pointer;
}

.region-area {
  opacity: 0;
  transition: all 0.12s linear;
}

.region-area:hover {
  opacity: 0.1;
}

.blocked-region {
  opacity: 0.5;
}

.highlighted-region-area {
  opacity: 0.3;
}

.highlighted-region-area:hover {
  opacity: 0.5;
}

@keyframes background_fade {
  from {
    background-color: rgba(white, 0.3);
  }
  to {
    background-color: rgba(white, 0);
  }
}

.game-log-entry {
  animation: 1s ease-out 3s infinite normal both running background_fade;
}

.game-log-content p, .game-log-content ul {
  margin-bottom: 0.5em;
}

.game-log-content p:last-child {
  margin-bottom: 0;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.1rem 0.25rem;
}

hr {
  border-color: white;
}

.nav-link.active {
  background-color: $dark !important;
}

.nav-link {
  padding: 0.5rem 0.5rem !important;
}

div.new-event {
  border: solid;
  border-color: #F39C12;
  border-radius: 5px;
  border-width: 1px;
}

.chat-scroll-to-bottom {
  height: 258px;
}

.tooltip-inner {
  text-align: left;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.westeros-tooltip > .tooltip-inner {
  max-width: 100%;
}